Repository debionetwork/polkadot-provider, pull requests merged in 2022-04, with the labels that each got.

#43 tests: fix spec test
  test/unit/command/labs/orders/orders.command.mock.ts
  test/unit/command/labs/orders/orders.command.spec.ts
Labels: test

#44 feat: add new fee info and name fixes
  package.json
  src/command/genetic-analyst/genetic-analysis-orders.ts
  src/command/genetic-analyst/genetic-analysis.ts
  src/query/genetic-analysts/genetic-analysis.ts
  test/unit/command/genetic-analyst/genetic-analysis-orders/genetic-analysis-orders.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analysis-orders/genetic-analysis-orders.command.spec.ts
  test/unit/command/genetic-analyst/genetic-analysis/genetic-analysis.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analysis/genetic-analysis.command.spec.ts
  test/unit/query/genetic-analysts/genetic-analysis/genetic-analysis.spec.ts
Labels: fix, improvement, feature

#46 feat: genetic analyst service command fees and new labs extrinsics.
  src/command/genetic-analyst/genetic-analyst-services.ts
  src/command/genetic-analyst/index.ts
  src/command/labs/index.ts
  src/query/labs/index.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.spec.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/command/labs/labs.command.mock.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/query/labs/labs.query.mock.ts
  test/unit/query/labs/labs.query.spec.ts
Labels: enhancement, test, feature

#47 fix: fix error on ga service query
  package-lock.json
  src/query/genetic-analysts/genetic-analyst-service.ts
  src/query/genetic-analysts/index.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analyst-services.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.spec.ts
  test/unit/query/genetic-analysts/genetic-analysts.query.mock.ts
  test/unit/query/genetic-analysts/genetic-analysts.query.spec.ts
Labels: fix

#52 tests: lab pallet integration tests
  src/command/genetic-analyst/index.ts
  src/command/labs/index.ts
  src/models/genetic-analysts/index.ts
  src/models/labs/index.ts
  src/models/labs/lab-verification-status.ts
  src/primitives/availability-status.ts
  src/primitives/index.ts
  src/primitives/stake-status.ts
  src/primitives/verification-status.ts
  src/query/labs/index.ts
  test/e2e/docker-compose.yml
  test/e2e/labs/index.spec.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/command/labs/labs.command.spec.ts
Labels: bug, test, refactor

#49 fix: query getAllGeneticAnalystServices & command createRequest
  src/command/service-request.ts
  src/query/genetic-analysts/genetic-analyst-service.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.spec.ts
  test/unit/command/service-request/service-request.command.mock.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analyst-services.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.spec.ts
Labels: fix

#53 feat: updates for version 0.0.10
  package-lock.json
  package.json
  src/command/genetic-analyst/genetic-analyst-qualification.ts
  src/command/genetic-analyst/index.ts
  src/command/labs/index.ts
  src/command/service-request.ts
  src/models/genetic-analysts/genetic-analyst-qualification/genetic-analyst-qualification-info.ts
  src/models/genetic-analysts/index.ts
  src/models/labs/index.ts
  src/models/labs/lab-verification-status.ts
  src/primitives/availability-status.ts
  src/primitives/index.ts
  src/primitives/stake-status.ts
  src/primitives/verification-status.ts
  src/query/genetic-analysts/genetic-analysis-orders.ts
  src/query/genetic-analysts/genetic-analysis.ts
  src/query/genetic-analysts/genetic-analyst-service.ts
  src/query/genetic-analysts/index.ts
  src/query/labs/index.ts
  src/query/service-request.ts
  test/e2e/docker-compose.yml
  test/e2e/electronic-medical-record.spec.ts
  test/e2e/genetic-analysts/genetic-analysis-order.spec.ts
  test/e2e/genetic-analysts/genetic-analysis.spec.ts
  test/e2e/genetic-analysts/genetic-analyst-qualifications.spec.ts
  test/e2e/genetic-analysts/genetic-analyst-service.spec.ts
  test/e2e/genetic-analysts/genetic-data.spec.ts
  test/e2e/genetic-analysts/index.spec.ts
  test/e2e/jest-e2e.json
  test/e2e/labs/certifications.spec.ts
  test/e2e/labs/genetic-testing.spec.ts
  test/e2e/labs/index.spec.ts
  test/e2e/labs/orders.spec.ts
  test/e2e/labs/services.spec.ts
  test/e2e/rewards.spec.ts
  test/e2e/service-request.spec.ts
  test/e2e/test-sequencer.js
  test/e2e/user-profile.spec.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/command/service-request/service-request.command.mock.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analysis-orders.mock.ts
  test/unit/models/genetic-analysts/genetic-analyst-services.mock.ts
  test/unit/models/genetic-analysts/genetic-analysts.mock.ts
  test/unit/models/service-request/service-invoice.mock.ts
  test/unit/models/service-request/service-request.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.spec.ts
  test/unit/query/genetic-analysts/genetic-analysis/genetic-analysis.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis/genetic-analysis.spec.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.spec.ts
Labels: bug, fix, test, refactor

#58 feat: updates for version 0.0.10
  package-lock.json
  package.json
  src/command/genetic-analyst/genetic-analyst-qualification.ts
  src/command/genetic-analyst/index.ts
  src/command/labs/index.ts
  src/command/service-request.ts
  src/models/genetic-analysts/genetic-analyst-qualification/genetic-analyst-qualification-info.ts
  src/models/genetic-analysts/index.ts
  src/models/labs/index.ts
  src/models/labs/lab-verification-status.ts
  src/primitives/availability-status.ts
  src/primitives/index.ts
  src/primitives/stake-status.ts
  src/primitives/verification-status.ts
  src/query/genetic-analysts/genetic-analysis-orders.ts
  src/query/genetic-analysts/genetic-analysis.ts
  src/query/genetic-analysts/genetic-analyst-service.ts
  src/query/genetic-analysts/index.ts
  src/query/labs/index.ts
  src/query/service-request.ts
  test/e2e/docker-compose.yml
  test/e2e/electronic-medical-record.spec.ts
  test/e2e/genetic-analysts/genetic-analysis-order.spec.ts
  test/e2e/genetic-analysts/genetic-analysis.spec.ts
  test/e2e/genetic-analysts/genetic-analyst-qualifications.spec.ts
  test/e2e/genetic-analysts/genetic-analyst-service.spec.ts
  test/e2e/genetic-analysts/genetic-data.spec.ts
  test/e2e/genetic-analysts/index.spec.ts
  test/e2e/jest-e2e.json
  test/e2e/labs/certifications.spec.ts
  test/e2e/labs/genetic-testing.spec.ts
  test/e2e/labs/index.spec.ts
  test/e2e/labs/orders.spec.ts
  test/e2e/labs/services.spec.ts
  test/e2e/rewards.spec.ts
  test/e2e/service-request.spec.ts
  test/e2e/test-sequencer.js
  test/e2e/user-profile.spec.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/command/service-request/service-request.command.mock.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analysis-orders.mock.ts
  test/unit/models/genetic-analysts/genetic-analyst-services.mock.ts
  test/unit/models/genetic-analysts/genetic-analysts.mock.ts
  test/unit/models/service-request/service-invoice.mock.ts
  test/unit/models/service-request/service-request.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.spec.ts
  test/unit/query/genetic-analysts/genetic-analysis/genetic-analysis.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis/genetic-analysis.spec.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.spec.ts
Labels: bug, fix, test

#59 feat: add tx weight on labs flow
  src/command/labs/certifications.ts
  src/command/labs/genetic-testing.ts
  src/command/labs/index.ts
  src/command/labs/orders.ts
  src/command/labs/services.ts
  src/command/service-request.ts
  test/e2e/labs/certifications.spec.ts
  test/e2e/labs/genetic-testing.spec.ts
  test/e2e/labs/index.spec.ts
  test/e2e/labs/orders.spec.ts
  test/e2e/labs/services.spec.ts
  test/e2e/service-request.spec.ts
Labels: feature
