Repository debionetwork/polkadot-provider, pull requests merged in 2022-03, with the labels that each got.

#5 [DBIO-1853] tests: lab services query tests.
  src/query/labs/services.ts
  test/unit/@polkadot-api.mock.ts
  test/unit/@polkadot-types.mock.ts
  test/unit/command/orders.command.mock.ts
  test/unit/command/orders.command.spec.ts
  test/unit/query/labs/services/services.query.mock.ts
  test/unit/query/labs/services/services.query.spec.ts
  test/unit/query/user-profile/user-profile.query.mock.ts
  test/unit/query/user-profile/user-profile.query.spec.ts
Labels: test

#3 [DBIO-1860] Polkadot Provider Package: Unit Test Rewards Commands
  test/unit/command/rewards.command.mock.ts
  test/unit/command/rewards.command.spec.ts
Labels: test

#8 [DBIO-1856] tests: lab commands unit tests.
  test/unit/command/labs/labs.command.mock.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/models/labs/certifications.mock.ts
  test/unit/models/labs/labs.mock.ts
  test/unit/models/labs/orders.mock.ts
  test/unit/models/labs/services.mock.ts
  test/unit/query/labs/certifications/certifications.query.mock.ts
  test/unit/query/labs/certifications/certifications.query.spec.ts
  test/unit/query/labs/labs.query.mock.ts
  test/unit/query/labs/labs.query.spec.ts
  test/unit/query/labs/orders/orders.query.mock.ts
  test/unit/query/labs/orders/orders.query.spec.ts
  test/unit/query/labs/services/services.query.mock.ts
  test/unit/query/labs/services/services.query.spec.ts
Labels: test, refactor

#9 feat: genetic analysis orders commands.
  package.json
  src/command/genetic-analyst/genetic-analysis-orders.ts
  src/command/genetic-analyst/index.ts
  src/command/index.ts
  src/command/labs/genetic-testing.ts
  src/command/labs/index.ts
  src/command/labs/orders.ts
  src/command/rewards.ts
  src/command/service-request.ts
  src/command/user-profile.ts
  test/unit/command/genetic-analyst/genetic-analysis-orders/genetic-analysis-orders.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analysis-orders/genetic-analysis-orders.command.spec.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/command/labs/orders/orders.command.spec.ts
  test/unit/command/rewards/rewards.command.spec.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/command/user-profile/user-profile.command.spec.ts
Labels: enhancement, test, improvement

#10 fix: build error and refactor.
  README.md
  package.json
  src/index.ts
  src/models/genetic-analysts/genetic-analysis-orders/genetic-analysis-order-status.ts
  src/models/genetic-analysts/genetic-analysis-orders/index.ts
  src/models/genetic-analysts/genetic-analysis/genetic-analysis-status.ts
  src/models/genetic-analysts/genetic-analysis/index.ts
  src/models/genetic-analysts/index.ts
  src/models/index.ts
  src/models/labs/certifications/certification-info.ts
  src/models/labs/certifications/index.ts
  src/models/labs/genetic-testing/dna-test-result-submission.ts
  src/models/labs/genetic-testing/index.ts
  src/models/labs/index.ts
  src/models/labs/orders/index.ts
  src/models/labs/orders/order-status.ts
  src/models/labs/services/currency-type.ts
  src/models/labs/services/expected-duration.ts
  src/models/labs/services/index.ts
  src/models/labs/services/price-by-currency.ts
  src/models/labs/services/price.ts
  src/models/labs/services/service-flow.ts
  src/models/labs/services/service-info.ts
  src/models/service-request/index.ts
  src/query/labs/certifications.ts
  src/query/labs/services.ts
  test/unit/command/user-profile/user-profile.command.spec.ts
  test/unit/query/labs/certifications/certifications.query.spec.ts
  test/unit/query/labs/orders/orders.query.spec.ts
  test/unit/query/labs/services/services.query.spec.ts
Labels: test, improvement, refactor

#11 feat: emr command and query.
  package-lock.json
  package.json
  src/command/electronic-medical-record.ts
  src/command/index.ts
  src/models/electronic-medical-record/electronic-medical-record-file.ts
  src/models/electronic-medical-record/index.ts
  src/models/index.ts
  src/query/electronic-medical-record.ts
  src/query/index.ts
  src/query/labs/services.ts
  test/unit/@polkadot-api.mock.ts
  test/unit/command/electronic-medical-record/electronic-medical-record.command.mock.ts
  test/unit/command/electronic-medical-record/electronic-medical-record.command.spec.ts
  test/unit/models/electronic-medical-record/electronic-medical-record-file.mock.ts
  test/unit/models/electronic-medical-record/electronic-medical-record.mock.ts
  test/unit/query/electronic-medical-record/electronic-medical-record.query.mock.ts
  test/unit/query/electronic-medical-record/electronic-medical-record.query.spec.ts
  test/unit/query/labs/services/services.query.spec.ts
Labels: enhancement, test

#12 feat: genetic data commands and queries.
  src/command/electronic-medical-record.ts
  src/command/genetic-analyst/genetic-data.ts
  src/models/electronic-medical-record/electronic-medical-record-file.ts
  src/models/electronic-medical-record/index.ts
  src/models/genetic-analysts/genetic-data.ts
  src/models/genetic-analysts/index.ts
  src/query/electronic-medical-record.ts
  src/query/genetic-analysts/genetic-data.ts
  src/query/genetic-analysts/index.ts
  src/query/index.ts
  test/unit/command/genetic-analyst/genetic-data/genetic-data.command.mock.ts
  test/unit/command/genetic-analyst/genetic-data/genetic-data.command.spec.ts
  test/unit/models/genetic-analysts/genetic-data.mock.ts
  test/unit/query/electronic-medical-record/electronic-medical-record.query.spec.ts
  test/unit/query/genetic-analysts/genetic-data/genetic-data.query.mock.ts
  test/unit/query/genetic-analysts/genetic-data/genetic-data.query.spec.ts
Labels: enhancement, test

#13 feat: genetic analysts commands and queries.
  src/command/genetic-analyst/index.ts
  src/models/genetic-analysts/genetic-analyst-availability-status.ts
  src/models/genetic-analysts/index.ts
  src/models/genetic-analysts/stake-status.ts
  src/query/genetic-analysts/index.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analysts.mock.ts
  test/unit/query/genetic-analysts/genetic-analysts.query.mock.ts
  test/unit/query/genetic-analysts/genetic-analysts.query.spec.ts
  test/unit/query/genetic-analysts/genetic-data/genetic-data.query.spec.ts
Labels: enhancement, test

#14 feat: genetic analysis orders queries.
  src/models/genetic-analysts/genetic-analysis-orders/index.ts
  src/query/genetic-analysts/genetic-analysis-orders.ts
  src/query/genetic-analysts/index.ts
  test/unit/models/genetic-analysts/genetic-analysis-orders.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.mock.ts
  test/unit/query/genetic-analysts/genetic-analysis-orders/genetic-analysis-orders.spec.ts
  test/unit/query/genetic-analysts/genetic-analysts.query.spec.ts
Labels: enhancement, test

#16 feat: add new lab queries.
  src/query/labs/index.ts
  test/unit/query/labs/labs.query.mock.ts
  test/unit/query/labs/labs.query.spec.ts
Labels: enhancement, test

#17 feat: gas fee info and set eth address command.
  src/command/labs/orders.ts
  src/command/service-request.ts
  src/command/user-profile.ts
  test/unit/command/labs/orders/orders.command.mock.ts
  test/unit/command/labs/orders/orders.command.spec.ts
  test/unit/command/service-request/service-request.command.mock.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/command/user-profile/user-profile.command.mock.ts
  test/unit/command/user-profile/user-profile.command.spec.ts
Labels: enhancement, test

#18 fix: account balance query.
  src/query/account.ts
  test/unit/@polkadot-api.mock.ts
  test/unit/query/account/account.query.mock.ts
  test/unit/query/account/account.query.spec.ts
Labels: enhancement, test

#19 feat: doctor commands and queries.
  src/command/doctors.ts
  src/models/doctors/doctor-info.ts
  src/models/doctors/index.ts
  src/models/index.ts
  src/query/doctors.ts
  src/query/index.ts
  test/unit/command/doctors/doctors.command.mock.ts
  test/unit/command/doctors/doctors.command.spec.ts
  test/unit/models/doctors/doctors.mock.ts
  test/unit/query/doctors/doctors.query.mock.ts
  test/unit/query/doctors/doctors.query.spec.ts
Labels: enhancement, test

#21 [DBIO-1850] Polkadot Privide : Unit Testing Service Request Queries
  package-lock.json
  test/unit/command/labs/genetic-testing/genetic-testing.command.mock.ts
  test/unit/command/labs/genetic-testing/genetic-testing.command.spec.ts
  test/unit/models/service-request/service-invoice.mock.ts
  test/unit/models/service-request/service-request.mock.ts
  test/unit/query/service-request/service-request.query.mock.ts
  test/unit/query/service-request/service-request.query.spec.ts
Labels: test

#27 ci: tests
  .github/workflows/tester.yml
Labels: test, ci

#28 tests: labs pallet integration tests
  babel.config.js
  package-lock.json
  package.json
  src/command/doctors.ts
  src/command/electronic-medical-record.ts
  src/command/genetic-analyst/genetic-analysis-orders.ts
  src/command/genetic-analyst/genetic-analysis.ts
  src/command/genetic-analyst/genetic-analyst-qualification.ts
  src/command/genetic-analyst/genetic-analyst-services.ts
  src/command/genetic-analyst/genetic-data.ts
  src/command/genetic-analyst/index.ts
  src/command/hospitals.ts
  src/command/index.ts
  src/command/labs/genetic-testing.ts
  src/command/labs/index.ts
  src/command/labs/orders.ts
  src/command/labs/services.ts
  src/command/rewards.ts
  src/command/service-request.ts
  src/command/user-profile.ts
  src/models/genetic-analysts/genetic-analyst-qualification/experiece.ts
  src/models/genetic-analysts/genetic-analyst-qualification/genetic-analyst-qualification-certification.ts
  src/models/genetic-analysts/genetic-analyst-qualification/genetic-analyst-qualification-info.ts
  src/models/genetic-analysts/genetic-analyst-qualification/index.ts
  src/models/genetic-analysts/genetic-analyst-service/expected-duration.ts
  src/models/genetic-analysts/genetic-analyst-service/genetic-analyst-service-info.ts
  src/models/genetic-analysts/genetic-analyst-service/index.ts
  src/models/genetic-analysts/genetic-analyst-service/price.ts
  src/models/hospitals/hospital-info.ts
  src/models/hospitals/index.ts
  src/query/labs/index.ts
  test/e2e/docker-compose.yml
  test/e2e/jest-e2e.json
  test/e2e/labs/index.spec.ts
  test/e2e/polkadot-init.ts
  test/e2e/setup.ts
  test/e2e/teardown.ts
  test/unit/command/doctors/doctors.command.spec.ts
  test/unit/command/electronic-medical-record/electronic-medical-record.command.spec.ts
  test/unit/command/genetic-analyst/genetic-analysis-orders/genetic-analysis-orders.command.spec.ts
  test/unit/command/genetic-analyst/genetic-analysis/genetic-analysis.command.spec.ts
  test/unit/command/genetic-analyst/genetic-analysts.command.spec.ts
  test/unit/command/genetic-analyst/genetic-data/genetic-data.command.spec.ts
  test/unit/command/hospitals/hospitals.command.spec.ts
  test/unit/command/labs/genetic-testing/genetic-testing.command.spec.ts
  test/unit/command/labs/labs.command.spec.ts
  test/unit/command/labs/orders/orders.command.spec.ts
  test/unit/command/labs/services/services.command.spec.ts
  test/unit/command/rewards/rewards.command.spec.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/command/user-profile/user-profile.command.spec.ts
  test/unit/models/labs/labs.mock.ts
  test/unit/query/labs/labs.query.mock.ts
  test/unit/query/labs/labs.query.spec.ts
Labels: test, ci, refactor

#35 feat: git hooks
  .maintain/install-hooks.sh
  package.json
  src/command/genetic-analyst/index.ts
  src/command/labs/certification.ts
Labels: test, feature, ci

#30 [DBIO-2040 & DBIO-2048] Polkadot Provider Package: Genetic Analyst Qualification Query And Unit Test
  src/models/genetic-analysts/genetic-analyst-qualification/genetic-analyst-qualification-info.ts
  src/models/genetic-analysts/genetic-analyst-qualification/index.ts
  src/query/genetic-analysts/genetic-analys-qualification.ts
  test/unit/models/genetic-analysts/genetic-analyst-qualifications.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-qualifications/genetic-analyst-qualifications.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-qualifications/genetic-analyst-qualifications.spec.ts
Labels: enhancement, test

#36 tests: pallet integration tests
  src/command/electronic-medical-record.ts
  src/command/labs/certifications.ts
  src/command/labs/genetic-testing.ts
  src/command/labs/index.ts
  src/command/labs/orders.ts
  src/models/electronic-medical-record/electronic-medical-record-input.ts
  src/models/electronic-medical-record/index.ts
  src/models/genetic-analysts/genetic-analysis-orders/index.ts
  src/models/labs/genetic-testing/dna-sample-status.ts
  src/models/labs/genetic-testing/dna-sample.ts
  src/models/labs/genetic-testing/index.ts
  src/models/labs/genetic-testing/test-result.ts
  src/models/labs/orders/index.ts
  src/models/labs/services/price-by-currency.ts
  src/models/labs/services/price.ts
  src/query/electronic-medical-record.ts
  src/query/genetic-analysts/genetic-analys-qualification.ts
  src/query/genetic-analysts/genetic-analyst-service.ts
  src/query/labs/genetic-testing.ts
  src/query/labs/orders.ts
  test/e2e/emr.spec.ts
  test/e2e/labs/certifications.spec.ts
  test/e2e/labs/index.spec.ts
  test/e2e/labs/orders.spec.ts
  test/e2e/labs/services.spec.ts
  test/e2e/rewards.spec.ts
  test/e2e/user-profile.spec.ts
  test/unit/command/electronic-medical-record/electronic-medical-record.command.spec.ts
  test/unit/command/labs/certifications/certifications.command.spec.ts
  test/unit/command/labs/orders/orders.command.spec.ts
  test/unit/models/electronic-medical-record/electronic-medical-record.mock.ts
  test/unit/models/labs/services.mock.ts
  test/unit/query/electronic-medical-record/electronic-medical-record.query.mock.ts
  test/unit/query/electronic-medical-record/electronic-medical-record.query.spec.ts
Labels: enhancement, test, feature

#29 [DBIO-2058 & DBIO-2063] update labs order function and unit testing
  src/command/labs/orders.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.mock.ts
  test/unit/command/genetic-analyst/genetic-analyst-services/genetic-analyst-services.command.spec.ts
  test/unit/command/labs/orders/orders.command.mock.ts
  test/unit/command/labs/orders/orders.command.spec.ts
  test/unit/models/genetic-analysts/genetic-analyst-service.mock.ts
  test/unit/models/genetic-analysts/genetic-analyst-services.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.mock.ts
  test/unit/query/genetic-analysts/genetic-analyst-services/genetic-analyst-services.spec.ts
Labels: enhancement, test, feature

#37 feat: new release v0.0.5
  package.json
Labels: enhancement

#38 fix: genetic analysts update struct
  package.json
  src/models/genetic-analysts/genetic-analyst-info.ts
  test/unit/models/genetic-analysts/genetic-analysts.mock.ts
Labels: bug, enhancement

#40 feat: rewards queries and commands
  src/command/rewards.ts
  src/query/rewards.ts
  test/e2e/rewards.spec.ts
  test/unit/command/rewards/rewards.command.mock.ts
  test/unit/command/rewards/rewards.command.spec.ts
  test/unit/sudo.command.mock.ts
Labels: enhancement, test, feature
