Repository debionetwork/polkadot-provider, pull requests merged in 2022-07, with the labels that each got.

#67 feat: add unstake genetic analyst fee
  src/command/genetic-analyst/index.ts
  test/e2e/genetic-analysts/index.spec.ts
Labels: test, feature

#68 fix: bigint parameter in create service request
  package.json
  src/command/service-request.ts
  test/e2e/service-request.spec.ts
  test/unit/command/service-request/service-request.command.spec.ts
  test/unit/models/service-request/service-request.mock.ts
Labels: fix, test, refactor

#69 feat: genetic analysts fee info
  package.json
  src/command/genetic-analyst/genetic-analyst-qualification.ts
  src/command/genetic-analyst/index.ts
  test/e2e/genetic-analysts/genetic-analyst-qualifications.spec.ts
  test/e2e/genetic-analysts/index.spec.ts
Labels: enhancement, test, feature

#66 feat: add polkadot provider event handler
  package.json
  src/events/event-types.ts
  src/events/handlers/customer.ts
  src/events/handlers/defaultHandler.ts
  src/events/handlers/lab.ts
  src/events/helpers/coinFormater.ts
  src/events/helpers/index.ts
  src/events/index.ts
  src/index.ts
  test/unit/events/dataSample.ts
  test/unit/events/handlers/customer.spec.ts
  test/unit/events/handlers/lab.spec.ts
  test/unit/events/index.spec.ts
  tsconfig.json
Labels: enhancement, test

#71 fix: geneticAnalysis and geneticAnalysisOrders event handler
  package.json
  src/events/event-types.ts
  src/events/handlers/customer.ts
Labels: fix
